<form [formGroup]="form" (submit)="onSubmit($event)" class="flexcolumns">
  <div class="width250pt, center">
    <h3 mat-dialog-title>{{ isRegisterMode ? 'Register User' : 'Login' }}</h3>
  </div>
  <mat-form-field class="width250pt, center">
    <mat-label>Username</mat-label>
    <input tabindex="0" id="username" matInput class="width150pt" formControlName="username" />
    @if (form.get('username')!.hasError('required') != null) {
      <mat-error> Username is a required field </mat-error>
    }
  </mat-form-field>
  <mat-form-field class="small-width right" class="width250pt, center">
    <mat-label>Password</mat-label>
    <input tabindex="1" matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
    <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    @if (form.get('password')!.hasError('required') != null) {
      <mat-error> Password is a required field </mat-error>
    }
  </mat-form-field>
  <mat-card-actions class="width250pt, center">
    @if (isRegisterMode) {
      <button tabindex="2" mat-raised-button type="submit" value="noAuthentication">No Authorization required</button>
    }
    <button tabindex="3" mat-raised-button type="submit" value="authentication" color="primary">
      {{ isRegisterMode ? 'REGISTER and LOGIN' : 'LOGIN' }}
    </button>
  </mat-card-actions>
</form>
